.content {
  text-align: center;
}

.content div {
  margin-top: 8px;
  margin-bottom: 8px;
}

.location {
  font-size: 1.1rem;
}

.temperature {
  font-size: 1.5rem;
}

.weather-logo img {
  border-radius: 25px;
}
