<div class="content">
  <app-weather-favorites></app-weather-favorites>
  <div class="forecast-content">

    <div class="forecast">
      <mat-card>
        <mat-card-content>
          <app-loading-spinner *ngIf="loading"></app-loading-spinner>
          <app-weather-forecast
            *ngIf="!loading"
            [details]="weather?.periods[0].detailedForecast"
            [subtitle]="weather?.periods[0].shortForecast"
            [title]="location">
            <visual><img [alt]="weather?.periods[0].shortForecast" [src]="weather?.periods[0].icon"/></visual>
            <indicator>
              <strong>{{ weather?.periods[0].temperature }} {{ '&deg;' + weather?.periods[0].temperatureUnit }}</strong>
            </indicator>
          </app-weather-forecast>
        </mat-card-content>
      </mat-card>
    </div><!--/forecast-->
    <div class="extra-info">
      <div class="wind">
        <mat-card>
          <mat-card-content>
            <app-loading-spinner *ngIf="loading"></app-loading-spinner>
            <app-weather-forecast
              *ngIf="!loading"
              [subtitle]="weather?.periods[0].windSpeed"
              [title]="weather?.periods[0].windDirection">
              <indicator>
                <mat-icon>{{ weather?.periods[0].windDirection | windDirectionToIcon }}</mat-icon>
              </indicator>
            </app-weather-forecast>
          </mat-card-content>
        </mat-card>
      </div><!--/wind-->
      <div class="next-forecast">
        <mat-card>
          <mat-card-content>
            <app-loading-spinner *ngIf="loading"></app-loading-spinner>
            <app-weather-forecast
              *ngIf="!loading"
              [subtitle]="weather?.periods[1].shortForecast"
              [title]="weather?.periods[1].name">
              <indicator>{{ weather?.periods[1].temperature + ' &deg;' + weather?.periods[1].temperatureUnit }}</indicator>
            </app-weather-forecast>
          </mat-card-content>
        </mat-card>
      </div><!--/next-forecast-->
    </div><!--/extra-info-->
    <div class="extended-forecast">
      <mat-card>
        <mat-card-title>Extended Forecast</mat-card-title>
        <mat-card-content>
          <app-loading-spinner *ngIf="loading"></app-loading-spinner>
          <app-extended-forecast
            *ngIf="!loading"
            [forecasts]="weather?.periods.slice(2)">
          </app-extended-forecast>
        </mat-card-content>
      </mat-card>
    </div><!--/extended-forecast-->
  </div> <!--/forecast-content-->
</div> <!--/content-->

