mat-sidenav-container {
  margin-top: 56px;
}

mat-sidenav {
  width: 200px;
}

.spacer {
  flex: 1 1 auto;
}

.link-active {
  font-weight: bolder;
}

.content {
  margin: 8px;
}

.navbar-logo {
  height: 40px;
  margin-right: 4px;
}
