<div class="container">
  <div class="dashboard-deck">
    <div class="dashboard-card desktop-third-length">
      <mat-card>
        <mat-card-title>Submitted Models</mat-card-title>
        <mat-card-subtitle>Previous 30 days</mat-card-subtitle>
        <mat-card-content>
          <div class="dashboard-card-content-chart">
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="dashboard-card desktop-third-length">
      <mat-card>
        <mat-card-title>Errors</mat-card-title>
        <mat-card-content>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="dashboard-card desktop-third-length">
      <mat-card>
        <mat-card-title>Lambda Uptime</mat-card-title>
      </mat-card>
    </div>

  </div>

  <div class="dashboard-deck">
    <div class="dashboard-card full-length">
      <mat-card>
        <mat-card-title>Recently Submitted Models</mat-card-title>
        <mat-card-subtitle>Last 30 Days</mat-card-subtitle>
        <mat-card-content>
          <app-dashboard-table></app-dashboard-table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
