<div class="container">
  <mat-card>
    <mat-card-title>Settings</mat-card-title>
    <mat-card-content>
      <div class="settings-form">
        <form #settingsForm="ngForm" (ngSubmit)="submit()">
          <h3>Global Settings</h3>

          <!-- Theme Settings -->
          <mat-form-field appearance="outline">
            <mat-label>Theme</mat-label>
            <mat-select [(ngModel)]="settings.theme" name="theme">
              <mat-option *ngFor="let theme of themes" [value]="getClassFromTheme(theme)">{{ theme }}</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- weather favorites -->
          <div class="bulk-group">
            <mat-list>
              <mat-list-item *ngFor="let favorite of favorites">
                <span>{{ favorite.properties.relativeLocation.properties.city + ', ' + favorite.properties.relativeLocation.properties.state }}</span>
                <span class="spacer"></span>
                <mat-icon (click)="removeFavorite(getGridId(favorite))">cancel</mat-icon>
              </mat-list-item>
            </mat-list>

            <mat-form-field appearance="outline">
              <mat-label>Weather Favorites</mat-label>

              <input
                [(ngModel)]="newZip"
                [ngModelOptions]="{standalone: true}"
                type="text"/>
            </mat-form-field>

            <button (click)="addFavorite()" mat-button>Add</button>
            <!-- Favorite weather locations -->
          </div>

          <div class="submit-container">
            <button [disabled]="!settingsForm.form.valid" color="accent" mat-stroked-button>
              <mat-icon>save</mat-icon>
              Save
            </button>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>

</div>
